<ng-container>
    <mat-card>

        <mat-card-content>

            <mat-form-field>
                <mat-icon matPrefix>shop</mat-icon>
                <input matInput disabled title="No. Requisición" [value]="N_Order">
            </mat-form-field>

            <mat-form-field>
                <mat-icon matPrefix>update</mat-icon>
                <input matInput disabled title="Fecha Requisición" [value]="Date_Order">
            </mat-form-field>

            <mat-form-field>
                <mat-icon matPrefix>person</mat-icon>
                <mat-select title="Aprobador" [(ngModel)]="aprobador">
                    <mat-option *ngFor="let aprobador of aprobadores" [value]="aprobador.Id">&nbsp;&nbsp;{{aprobador.username}}</mat-option>
                </mat-select>
            </mat-form-field>

            <br>
            <a href="http://192.168.1.100:8080/requisicionesv2/plantilla.xlsx" style="margin: 1%" mat-button color="primary">
                <mat-icon>cloud_download</mat-icon> Descargar Plantilla
            </a>
            <br>

            <mat-card>
                <mat-card-header style="display: inline;">
                    <mat-card-title>
                        <button (click)="ModalNewOrder()" mat-raised-button color="primary">
                            <mat-icon>add_shopping_cart</mat-icon> Agregar Producto
                        </button>
                        <button style="margin: 1%;" mat-raised-button color="primary">
                            <mat-icon>search</mat-icon> Buscar Producto
                        </button>
                        <button style="margin: 1%" mat-raised-button color="primary">
                            <mat-icon>cloud_upload</mat-icon> Importar Productos
                        </button>

                        <button disabled style="margin: 1%;background-color: green;color: #fff;" mat-raised-button>
                            <mat-icon>shopping_cart</mat-icon> Crear Orden
                        </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <br>
                    <app-dialog #dialog (notify)='onNotify($event)'></app-dialog>
                    Sus Productos Aparecerán Aqui.
                    <mat-progress-bar mode="determinate" [value]="progress" color="primary"></mat-progress-bar>
                    <app-datatable #datatable (notify)='onNotify($event)' [data]="TableData" [columns]="displayedColumns" [CHECKBOX_ID]="DefColumns[0]">

                    </app-datatable>
                     
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>



</ng-container>