<mat-toolbar color="primary">
  <span>Requisiciones</span>

  <button mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
  - {{title}}
</mat-toolbar>
<div class="loading" *ngIf="show_progress">
  <mat-progress-spinner mode="indeterminate" color="green"></mat-progress-spinner>
</div>
<mat-progress-bar mode="determinate" [value]="progress" color="warn"></mat-progress-bar>

<!--Items for menu -->
<span *ngFor="let item of routes">
  <!-- Handle branch node buttons here -->
  <span *ngIf="item.items && item.items.length > 0">
    <button color="primary" mat-button routerLinkActive="active" [matMenuTriggerFor]="menu.childMenu">
        <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
      {{item.title}}
    </button>
    <app-menu-items #menu [items]="item.items"></app-menu-items>
  </span>
  <!-- Leaf node buttons here -->
  <span *ngIf="!item.items || item.items.length === 0">
    <button routerLinkActive="active" mat-button color="primary" [routerLink]="item.link">
      <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
      {{item.title}}
    </button>
  </span>
</span>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>{{title}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <router-outlet  (notify)='onNotify($event)'
    (activate)='onActivate($event)'
    (deactivate)='onDeactivate($event)'>
  </router-outlet>
  </mat-card-content>
</mat-card>