/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-list-item {
    float: right;
  }

  .rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-table {
  width: 100%;
}

.mat-header-buttons-table{
  padding: 1em;
  margin-bottom: 1em;
}
.mat-header-buttos-table button{
margin: 0.5%;
float: left;
}
.mat-header-buttos-table .search{
  margin: 0.5%;
  float: right;
}

.mat-row, .mat-header-row {
  width: auto; 
}
.mat-header-row { 
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: inherit;
}

.custom-modalbox  {
  width: 25%;
  height: 95%;
}

.custom-modalbox .fixActionRow mat-dialog-actions{
  margin-top: 12%;
  z-index: 999;
}

.mat-success {
  background-color: green;
  color: #fff;
}
.mat-defaut-color{
  margin-right: 0.5em;
  background-color:rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

 
@media(max-width: 800px) {
  .responsive_table {
      overflow-x: auto !important;
  }
  
  .custom-modalbox  {
    width: 90%;
    height: 70%;
  }
  .custom-modalbox .fixActionRow mat-dialog-actions{
    margin-top: 24%;
  }
  .mat-table {
      min-width:800px;
  }
  .form-new-order{
    overflow: hidden;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .custom-modalbox  {
    width: 65%;
    height: 70%;
  }
  .mat-dialog-actions{
    margin-top: 15%;
  }
  
  .form-new-order{
    overflow: hidden;
  }
}

.container-form{
  display: flex;
  flex-direction: column;
}
.form-control{
  widows: 100%;
}
.container-form > *{
  width: 100%;
}

.highlight {
  background:  rgba(211, 11, 11, 0.2); /* red */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .custom-modalbox  {
    width: 85%;
  }
  
  mat-dialog-content , .container-form {
    overflow: hidden;
  }
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .custom-modalbox  {
    width: 85%;
  }
  
  .form-new-order{
    overflow: hidden;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .form-new-order{
    overflow: hidden;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .form-new-order{
    overflow: hidden;
  } 
  
}
.snack-Bar-5{  
  position: absolute;
  top: 5%;
  right: 0%;
}

.snack-Bar-10{  
  position: absolute;
  top: 10%;
  right: 0%;
}

.snack-Bar-15{  
  position: absolute;
  top: 15%;
  right: 0%;
}

.snack-Bar-20{  
  position: absolute;
  top: 20%;
  right: 0%;
}
.snack-Bar-25{  
  position: absolute;
  top: 25%;
  right: 0%;
}
.snack-Bar-30{  
  position: absolute;
  top: 30%;
  right: 0%;
}
.snack-Bar-35{  
  position: absolute;
  top: 35%;
  right: 0%;
}
.snack-Bar-40{  
  position: absolute;
  top: 40%;
  right: 0%;
}
.snack-Bar-45{  
  position: absolute;
  top: 45%;
  right: 0%;
}

.snack-Bar-50{  
  position: absolute;
  top: 50%;
  right: 0%;
}